#container {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1em;
  
}

#main-header {
    margin-top: 0.25em;
    font-size: 3em;
    font-family: sans-serif;
    font-style: italic;
}

#loginheader {
    text-align: center;
    font-size: 1.5em;
}
#roster{
    font-size: 1.22em;
    text-align: left;
    font-style: normal;
    font-family: sans-serif;
}
#uni{
    font-weight:bolder ;
}
.Details{
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 10px;
    text-align: left;
    
}
.details {
    text-align: center;
}

#fail-message {
    color: red;
    font-style: italic;
}