#container {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1em;
}

#main-header {
    margin-top: 3em;
    font-size: 5em;
    font-family: sans-serif;
    font-style: italic;
}

#login {
    text-align: center;
    font-size: 2em;
}

.details {
    text-align: center;
}
